.propiedad {
    color: blue;
    text-align: center;
}

h1 {
    color: blue
}

nav {
    text-align: center;
}

section {
    text-align: center;
}

header {
    text-align: center;
}